
.icon-pw-sun:before { content: '\e985'; } /* '' */
.icon-pw-moon:before { content: '\e986'; } /* '' */
.icon-pw-github-circled:before { content: '\e987'; } /* '' */
.icon-pw-weibo:before { content: '\e988'; } /* '' */
.icon-pw-users:before { content: '\e989'; } /* '' */
.icon-pw-mail-alt:before { content: '\e990'; } /* '' */
.icon-pw-qq:before { content: '\e991'; } /* '' */
.icon-pw-login:before { content: '\e992'; } /* '' */
.icon-pw-search:before { content: '\e993'; } /* '' */
.icon-pw-gamepad:before { content: '\e994'; } /* '' */
.icon-pw-headphones:before { content: '\e995'; } /* '' */
.icon-pw-eye:before { content: '\e996'; } /* '' */
.icon-pw-doc:before { content: '\e997'; } /* '' */
.icon-pw-home:before { content: '\e998'; } /* '' */
.icon-pw-info-circled:before { content: '\e999'; } /* '' */